* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: white;
}

@font-face { font-family: Banger; src: url('./fonts/Banger.ttf'); }

body {
    background: #1354A5;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}



.container {
    width: 1200px;
    height: 600px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 24px;
    border: 1px solid #1875E8;
   }


.container__contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 0;
}

.container__informaciones {
    flex: 1;
    flex-direction: column;
    padding: 3rem;
}

.container__boton {
    border-radius: 16px;
    background: #1875E8;
    padding: 16px 24px;
    width: 100%;
    font-size: 54px;
    font-weight: 700;
    border: none;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
}

.container__boton:enabled {
    background: #898989;
}

.container__texto {
    margin: 16px 0 16px 0;
}

.container__texto-azul {
    color: #1875E8;
}

.container__input {
    width: 100%;
    height: 72px;
    border-radius: 16px;
    background-color: #FFF;
    border: none;
    color: #1875E8;
    padding: 2rem;
    font-size: 24px;
    font-weight: 700;
    font-family: 'Banger' , Banger ;
}

.container__botones {
    display: flex;
    gap: 2em;
    flex-direction: column;
}

h1 {
    font-family: 'Banger' , Banger ;
    font-size: 72px;
    padding-bottom: 3rem;
}

h3 {
    font-family: 'Banger' , Banger ;
    font-size: 42px;
    padding-bottom: 3rem;
}

p,
button {
    font-family: 'Banger' , Banger ;
}

.texto__parrafo {
    font-size: 32px;
    font-weight: 400;
}